[user]
	name = Nick Mello
{{- if eq .chezmoi.username "nicholasmello" }}
	email = nick@nmello.dev
	signingkey = A4007252A92585A8
{{- else }}
    email = nicholas.mello@collins.com
{{- end }}
[commit]
	template = ~/.gitmessage
{{- if eq .chezmoi.username "nicholasmello" }}
	gpgsign = true {{- end }}
	verbose = true
[merge]
	tool = nvimdiff
{{- if eq .chezmoi.username "nicholasmello" }}
[gpg]
	program = gpg
{{- end }}
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
	updateRefs = true
	rebaseMerges = true
	autoStash = true
	rescheduleFailedExec = true
	backend = merge
[core]
	excludesFile = ~/.gitignore
[branch]
	sort = committerdate
[column]
	ui = auto
[tag]
	sort = version:refname
[versionsort]
	suffix = -rc
	suffix = _rc
[fetch]
	all = true
[rerere]
	enabled = true
	autoUpdate = true
[difftool]
       prompt = false
